$fontcolor: white;

body {
  background-image: url(./img/website-bg.jpg);
  background-repeat: repeat;
  font-family: "Ubuntu" sans-serif;
  background-size: 100%;
  .profile-name {
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    font-size: 28px;
    color: $fontcolor;
    padding-bottom: 3px;
  }
  .profile-desc {
    text-align: center;
    font-size: 15px;
    color: $fontcolor;
  }
  .profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 200px;
    border-radius: 80%;
  }
}

.social {
  a {
    text-align: center;
    margin-top: 30px;
    border: white solid 3px;
    color: $fontcolor;
    text-decoration: none;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
}

.links {
  &:hover {
    transition: 0.5s;
    background-color: white;
    color: black;
    width: 250px;
    border-radius: 20px;
  }
  &:not(:hover) {
    transition: 0.5s;
  }
}
